extend ../../layouts/default.pug
include ../../mixins/box-filter.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

block main
  if (role.RolePermissions.includes("course_view"))
    +alert-success(2000)

    h1 Khoá học

    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body
          .row
            .col-4
              +box-filter([
                {
                  label: "Tất cả",
                  value: ""
                },
                {
                  label: "Hoạt động",
                  value: "active"
                },
                {
                  label: "Dừng hoạt động",
                  value: "inactive"
                }
              ])
            .col-8
              include ../../partials/form-search.pug

    .card
        .card-header 
          .row 
            .col-8 Danh sách
            .col-4
              if (role.RolePermissions.includes("course_create"))
                a(
                  href=`${prefixAdmin}/courses/create`
                  class="btn btn-outline-success"
                ) + Thêm mới
        .card-body
          table.table.table-hover.table-sm
            thead
              tr
                th
                  input(
                    type="checkbox"
                    input-change="checkall"
                  )
                th STT
                th Khoá học
                th Giảng viên
                th Giá
                th Trạng thái
                th 

            tbody
              each item, index in courses
                tr 
                  td
                    input(
                      type="checkbox"
                      input-change=item.id
                    )
                  td #{pagination.limitItems*(pagination.currentPage - 1) + index + 1}
                  td #{item.CourseName}
                  td #{item.intructorFullName}
                  td #{item.CoursePrice}$
                  td
                    if(item.CourseStatus == 1)
                      a( 
                        href="javascript:;"
                        data-status="active"
                        data-id=item.id
                        button-change-status
                        class="badge badge-success"
                      ) Hoạt động
                    else if (item.CourseStatus == 0)
                      a(
                        href="javascript:;"
                        data-status="inactive"
                        data-id=item.id
                        button-change-status
                        class="badge badge-danger"
                      ) Dừng hoạt động
                  td
                    a(
                      class="btn btn-info btn-sm"
                      href=`${prefixAdmin}/courses/detail/${item.id}`
                    ) Chi tiết
    +pagination(pagination)

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/courses/change-status`
      ) 

    script(src="/admin/js/course.js") 