extends ../../layouts/default.pug
include ../../mixins/box-filter.pug
include ../../mixins/alert.pug

block main
  //- if (role.RolePermissions.includes("course_view"))
  +alert-success(3000)
  

  div(class="mb-4") !{video.VideoUrl}

  <hr/>
  h1(class="mb-4") #{video.VideoName}

  div(class="mb-4") Khoá học: #{video.lesson.LessonName}
  if (video.VideoDescription)
    div(class="mb-4") !{video.VideoDescription}
  if (role.RolePermissions.includes("course_edit"))
    a(
      class="btn btn-info btn-sm"
      href=`${prefixAdmin}/video/edit/${video._id}`
    ) Chỉnh sửa
  if (role.RolePermissions.includes("course_delete"))
    button(
      class="btn btn-danger btn-sm ml-1"
      item-id=video._id
      button-delete
      data-path=`${prefixAdmin}/video/delete`
    ) Xoá

  form(
    action=""
    method="POST"
    id="form-delete-item"
    ) 

  script(src="/admin/js/course.js") 