extends ../../layouts/default.pug

block main
  if (role.RolePermissions.includes("role_create"))
    h1 #{pageTitle}

    form(
      action=`${prefixAdmin}/role/create`
      method="POST"
    )
      div(class="form-group")
        label(for="RoleName") Nhóm quyền
        input(
          type="text"
          class="form-control"
          id="RoleName"
          name="RoleName"
          required
        )
      div(class="form-group")
        label(for="RoleDescription") Mô tả
        textarea(
          type="text"
          class="form-control tiny-mce"
          id="RoleDescription"
          name="RoleDescription"
          rows="5"
          textarea-mce
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới