extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
  +alert-success(3000)
  +alert-error(3000)
  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Đăng nhập
        form(
          action="/auth/login"
          method="POST"
        )
          div(class="form-group")
            label(for="UserEmail") Email
            input(
              type="email"
              class="form-control"
              id="UserEmail"
              name="UserEmail"
              required
            )
          div(class="form-group")
            label(for="UserPassword") Mật khẩu
            input(
              type="password"
              class="form-control"
              id="UserPassword"
              name="UserPassword"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đăng ký